name: 'default'

on:
  push:
    branches:
      - 'main'
    tags:
      - '*'
  pull_request:
    branches:
      - 'main'
  workflow_dispatch:

permissions:
  contents: 'write'

jobs:
  default:
    uses: 'rios0rios0/pipelines/.github/workflows/php.yaml@main'
